@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

/* Header */
.navbar{
    position: relative;
    display: flex;
    padding: 20px 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #dbdbdb;
}

.navbar ul{
    display: flex;
    float: left;
    list-style: none;
    padding: 6px 10px;
}

.navbar ul li{
    padding: 0px 15px;
}

.navbar a{
    font-size: large;
    font-weight: 520;
    color: black;
    text-decoration: none;
}


.navbar li a:hover{
    color: #5cd4f4;
}
/* Header */

/* Content */
.content{
    padding: 32px 0px;
    height: max-content;
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
}


.card{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 8px 16px;
    align-content: center;
    align-items: center;
    background-color: white;
    /* border: 0.5px solid rgb(214, 213, 213); */
    box-shadow: 0px 0px 2px 2px rgba(34, 34, 34, 0.5);

}

.area img {
    display: block;
    max-height: 250px;
    width: auto;
}

.area input {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .details {
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 17px;
    font-weight: 600;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    border-style: none; 
    background-color: #7199BE;
    color: #fff;
}

.details input {
    height: 40px;
    width: 300px;
    /* outline: none; */
    font-size: 13px;
    font-weight: 600;
    color: #707070;
    border: 2px solid black;
    border-radius: 6px;
    padding: 0 15px;
    
}

input[type="radio"] {
    height: 20px;
    width: 20px;
}

.stat {
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* Content */