@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

/* Header */
.navbar{
    position: relative;
    display: flex;
    padding: 20px 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #dbdbdb;
}

.navbar ul{
    display: flex;
    float: left;
    list-style: none;
    padding: 6px 10px;
}

.navbar ul li{
    padding: 0px 15px;
}

.navbar a{
    font-size: large;
    font-weight: 520;
    color: black;
    text-decoration: none;
}


.navbar li a:hover{
    color: #5cd4f4;
}
/* Header */


/* Content */

.actor{
    margin-bottom: 8px;
    color: #297b92;
}

.content{
    padding: 16px 0px;
    height: max-content;
    background-color: #eeeeee;
    align-items: center;
}
.content .container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.delete-button{
    width: 60px;
    height: 30px;
    background-color: rgb(240, 110, 110);
    border-width: 0.5px;
    border-radius: 3px;
    font-weight: bold;
}

.delete-button:hover{
    cursor: pointer;
}

.detail-button{
    width: 60px;
    height: 30px;
    background-color: rgb(230, 178, 84);
    border-width: 0.5px;
    border-radius: 3px;
    font-weight: bold;
}

.detail-button:hover{
    cursor: pointer;
}


table, th, td {
    border: 1px solid black;
}

table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
    font-size: 0.9em;
}

table thead tr{
    background-color: #628ed1;
    text-align: left;
}

table th, table td{
    padding: 12px 15px;
}

table tbody tr:nth-of-type(even){
    background-color: #c9c9c9;
}

.content{
    padding: 16px 0px;
    height: 500px;
    background-color: #eeeeee;
}
/* Content */

/* Footer */
footer {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 520;
    /* height: 500px; */
    background-color: #282828;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
    /* overflow: hidden; */
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.social li {
    margin: 0 10px;
}

.social a i {
    font-size: 1.1rem;
    color: #fff;
}

.social a:hover i {
    color: #5cd4f4;
}

.bottom {
    background: #333439;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: #909090;
    font-size: 15px;
    word-spacing: 2px;
    text-transform: capitalize;
}