@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;600;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

/* Navbar */
img {
    height: 60px;
    cursor: pointer;
}

li,a {
    font-family: "Poppins";
    font-weight: 520;
    font-size: 17px;
    color: black;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
    position: relative;
}

.nav {
    list-style: none;
}

.nav li {
    display: inline-block;
    padding: 0 20px;
}

.nav li a:hover {
    color: #5cd4f4;
}

/* Tabel Perawat */
h1 {
    /* margin-left: 50rem; */
    text-align: center;
    padding-bottom: 2rem;
}

.content-table {
    border-collapse: collapse;
    margin-left: 22rem ;
    font-size: 20px;
    width: 70%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 1rem;
}

.content-table thead tr {
    background-color: #7199BE;
    color: black;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid black;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid black;
}

.content-table tbody tr.active-row {
    /* font-weight: bold; */
    color: black;
}

input[type="radio"]{
    height: 25px;
    width: 25px;
}

button {
    background-color: #7199BE;
    font-size: 25px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 23rem;
    margin-bottom: 7rem;
    border: #fff;
}
button a { 
    color : #fff
}

.cv {
    width: 70px;
    margin: auto;
    font-weight: 600;
    font-size: 15px;
    border: #fff;
}


.about{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    text-align: justify;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0px;
    padding-bottom: 30px;
    margin-top: 8%;
 }
 
 .heading{
    display: flex;
    letter-spacing: 0.1em;
    margin-bottom: -70px;
    text-align: left;
    font-size: 1.5em;
 }
 
 .button{
    box-shadow: 0px 0px 10px #464646;
    align-items: center;
    margin-top: 15px;
    display: inline-block;
    padding: 13px 40px;
    border: 2px solid #7199be;
    background-color: #f4f8fc;
    color: #7199be;
    font-size: large;
    letter-spacing: -0.01em;
    text-decoration: none;
 }
 
 .button:hover{
    border: 2px solid #d9b79f;
    background-color: #163d62;
    color: #d9b79f;
 }
 
 .stsbuton{
    display: flex;
    flex-direction: column;
 }
 
 .card{
    width: auto;
    position: relative;
    height: auto;
    background-color: #f4f8fc;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px #464646;
    transition: 0.3s ease-in-out;
    margin-top: 5%;
    /* overflow: scroll; */
 }
 
 .card img{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px #464646;
 }
 
 .card ol{
    list-style-position: inside;
    /* margin-left: 8px; */
 }


/* Footer */
footer {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 520;
    /* height: 500px; */
    background-color: #282828;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
    /* overflow: hidden; */
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.social li {
    margin: 0 10px;
}

.social a i {
    font-size: 1.1rem;
    color: #fff;
}

.social a:hover i {
    color: #5cd4f4;
}

.bottom {
    background: #333439;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: #909090;
    font-size: 15px;
    word-spacing: 2px;
    text-transform: capitalize;
}