@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

*{
   margin: 0;
   padding: 0;
   font-family: "Poppins", sans-serif;
}

body{
   display: flex;
   justify-content: center;
   background-color: #7199be;
}

.navbar{
   position: fixed;
   width: 100%;
   height: 80px;
   background-color: #f4f8fc;
   padding: 50px;
   box-sizing: border-box;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: 0.5s;
   z-index: 999;
}

.navbar img{
   padding-top: 10px;
   margin-left: -50px;
}

.navbar ul{
   display: flex;
   list-style: none;
   color: #7199be;
   font-size: 1.1em;
   padding: 0 30px;
}

.navbar a{
   font-size: x-large;
   float: left;
   display: table-column;
   color: #7199be;
   text-align: center;
   padding: 10px 16px;
   text-decoration: none;
}

.navbar ul a:hover{
   background-color: #7199be;
   color: #f4f8fc;
}

.content{
   position: relative;
   width: 1100px;
   display: flex;
   justify-content: center;
   text-align: justify;
   align-items: center;
   flex-wrap: wrap;
   padding-top: 0px;
   padding-bottom: 30px;
   margin-top: 8%;
}

.heading{
   display: flex;
   letter-spacing: 0.1em;
   margin-bottom: -70px;
   text-align: left;
   font-size: 1.5em;
}

.button{
   box-shadow: 0px 0px 10px #464646;
   align-items: center;
   margin-top: 15px;
   display: inline-block;
   padding: 13px 40px;
   border: 2px solid #7199be;
   background-color: #f4f8fc;
   color: #7199be;
   font-size: large;
   letter-spacing: -0.01em;
   text-decoration: none;
}

.button:hover{
   border: 2px solid #d9b79f;
   background-color: #163d62;
   color: #d9b79f;
}

.stsbuton{
   display: flex;
   flex-direction: column;
}

.learnmore{
   display: flex;
   /* margin-bottom: -70px; */
   text-align: left;
   font-size: 1.3em;
}

.card{
   width: auto;
   position: relative;
   height: auto;
   background-color: #f4f8fc;
   padding: 30px 30px;
   display: flex;
   flex-direction: column;
   box-shadow: 10px 10px #464646;
   transition: 0.3s ease-in-out;
   margin-top: 5%;
   /* overflow: scroll; */
}

.card img{
   width: 100%;
   height: 100%;
   box-shadow: 0 0 10px #464646;
}

.card ol{
   list-style-position: inside;
   /* margin-left: 8px; */
}

.footer{
   position: fixed;
   /* overflow: scroll; */
   bottom: 0;
   width: 100%;
   height: 80px;
   padding: 20px 20px 0px 20px;
   /* align-items: center; */
   text-align: center;
   background-color: #464646;
   color: #f4f8fc;
   /* display: flex; */
   z-index: -100;
}

.searchbox{
   margin-left: -100px;
}

.searchbox ::placeholder{
   color: #9a9a9a;
}

.searchbox input{
   width: 500px;
   height: 50px;
   border: 1px solid #7199be;
   font-size: large;
   border-radius: 50px;
   padding-left: 10px;
}

.searchbox:focus, input:focus{
   outline: none !important;
   border: 3px solid #d9b79f;
   box-shadow: 0 0 10px #719ECE;
}